@charset "UTF-8";

h1 {
	color: rgb(0, 128, 255);
}

table th {
	background:rgb(255, 128, 64);
	
	
	
}
th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}
 
table {
    border-collapse:  collapse; /* セルの線を重ねる */
}