@charset "UTF-8";

h1{
	text-align:center;
}

table {
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
}
table th {
	background: #379ce8;
	border: solid 1px #ccc;
	color: #fff;
	padding: 10px;
}
table td {
	border: solid 1px #ccc;
	padding: 10px;
}

p{
	text-align:right;
}
