<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>TOP PAGE</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style-kanesaka.css}">
</head>

<body>
	<h1>BUSILOG(仮)</h1>

	<div class="DivLink">
		お店を登録（入力画面）
		<a class="Link" href="input.html" th:href="@{/input}"></a>
	</div>
	<div class="DivLink">
		一覧表示画面
		<a class="Link" href="list.html" th:href="@{/list}"></a>
	</div>
	<div class="DivLink">
		検索画面
		<a class="Link" href="search.html" th:href="@{/search}"></a>
	</div>

</body>

</html>