<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>TOP PAGE - タベータベース</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style-kanesaka.css}">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
<div align="center">
	<h1>タベータベース</h1>
</div>
	<div>

		<div class="DivLink">
			<p>入力画面</p>
			<a class="Link" href="input.html" th:href="@{/input}"></a>
		</div>
		<br>
		<div class="DivLink">
			<p>一覧画面</p>
			<a class="Link" href="list.html" th:href="@{/list}"></a>
		</div>
		<br>
	</div>

</body>

</html>