<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>入力 - タベータベース</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style-kanesaka.css}">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<div class="ConfirmBox">
		<h2 class="kyocho">登録情報入力</h2>
		<div class="Center">
			<form method="get" action="#" th:action="@{confirm}" th:object="${loginput}">


				<dl class="defaultFont">
					<dt>店名：</dt>
					<dd>
						<input type="text" name="shopname" th:value="*{shopname}" class="defaultFont">
						<div th:if="${#fields.hasErrors('shopname')}" th:errors="*{shopname}">エラー</div>
					</dd>

					<dt>商品名：</dt>
					<dd>
						<input type="text" name="foodname" th:value="*{foodname}" class="defaultFont">
						<div th:if="${#fields.hasErrors('foodname')}" th:errors="*{foodname}">エラー</div>
					</dd>

					<dt>値段：</dt>
					<dd>
						<input type="text" name="price" th:value="*{price}" class="defaultFont" required>
						<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">エラー</div>
					</dd>

					<dt>ジャンル：</dt>
					<dd>
						<input type="text" name="genre" th:value="*{genre}" class="defaultFont">
						<div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">エラー</div>
					</dd>

					<dt>スコア：</dt>
					<dd>
						<input type="text" name="score" th:value="*{score}" class="defaultFont" required>
						<div th:if="${#fields.hasErrors('score')}" th:errors="*{score}">エラー</div>
					</dd>

					<dt>コメント：</dt>
					<dd>
						<input type="text" name="comment" th:value="*{comment}" class="defaultFont">
						<div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">エラー</div>
					</dd>

					<dt>店舗住所：</dt>
					<dd>
						<input type="text" name="shopaddress" th:value="*{shopaddress}" class="defaultFont">
						<div th:if="${#fields.hasErrors('shopaddress')}" th:errors="*{shopaddress}">エラー</div>
					</dd>

				</dl>

				<input type="submit" class="MiniButton" value="決定">
			</form>
		</div>
	</div>

		<div class="DivLink">
			<p>ホームへ戻る</p>
			<a class="Link" href="index.html" th:href="@{/}"></a>
		</div>

</body>

</html>