<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>一覧 - BUSILOG</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style-nakajima.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>

<!--	<form method="get" action="#" th:action="@{confirm}" th:object="${loginput}">-->
<!--		<p>検索：<input type="text" name="shopname" th:value="*{shopname}"></p>-->
<!--		<input type="submit" value="検索">-->
<!--	</form>-->

<!--<label for="search">検索</label>-->
<div align = "center">
<form method="get" action="#" th:action="@{/search/{price}}" th:object="${loginput}">
<p> <input type="search" name="price"  id = "price" placeholder="金額を入力">から
	<input type="search" name="price2"  id = "price2" placeholder="金額を入力">の間</p>
	<input type="submit" value="検索">
</form>
<form method="get" action="#" th:action="@{/search2/{score}}" th:object="${loginput}">
<p> <input type="search" name="score"  id = "score" placeholder="スコアを入力"></p>
	<input type="submit" value="検索">
</form>

<p>
<form method="get" action="#" th:action="@{/sort}" th:object="${loginput}" style="display: inline;">
<input type="submit" value="金額">
</form>
<form method="get" action="#" th:action="@{/sort2}" th:object="${loginput}" style="display: inline;">
<input type="submit" value="スコア">
</form>
</div>

	<table>
		<tr>
			<th>番号</th>
			<th>店舗名</th>
			<th>商品名</th>
			<th>値段</th>
			<th>ジャンル</th>
			<th>スコア</th>
			<th>コメント</th>
			<th>店舗住所</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each=" res : ${dbList}">
		<td th:text="${res.id}">1</td>
		<td th:text="${res.shopname}">店名</td>
		<td th:text="${res.foodname}">商品名</td>
		<td th:text="${res.price}">値段</td>
		<td th:text="${res.genre}">ジャンル</td>
		<td th:text="${res.score}">スコア</td>
		<td th:text="${res.comment}">コメント</td>
		<td th:text="${res.shopaddress}">店舗住所</td>
		<td>
			<form th:action="@{/del/{id}(id=${res.id})}">
				<input type="submit" value="削除" />
			</form>
		</td>
		<td>
			<form th:action="@{/edit/{id}(id=${res.id})}">
				<input type="submit" value="編集" />
			</form>
		</td>
		</tr>
		</table>
		<p>
			<a href="/input" th:href="@{/input}">入力画面へ</a>
			<a href="index.html" th:href="@{/}">ホーム画面へ</a>
		</p>

</body>

</html>
